<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Reto Sena" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jairo S.A</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="src/utils/logo/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="src/librerias/bootstrap/css/bootstrap.min.css">

    <!-- Font Titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- Titulos -> Roboto -> font-family: 'Roboto', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <!-- letras -> Noto Sans -> font-family: 'Noto Sans', sans-serif; -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- table css -->
    <link rel="stylesheet" href="/src/librerias/datatable/datatables.min.css">
    <link rel="stylesheet" href="/src/librerias/datatable/DataTables-1.10.24/css/dataTables.bootstrap.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="src/css/main.css">

</head>
<body>
