

/* Colores */

$blanco: #FFFFFF;
$negro: #8C8C8C;
$rojo_persa: #CB302B;
$color_primary: #8C8C8C;
$color_segundario: #CB302B;
$linkedin:#0077B5;
$facebook: #295396;

/* Fuentes */
$noto_sans:  'Noto Sans', sans-serif;
$roboto : 'Roboto', sans-serif;


.primary {
	color: $color_primary;
}

.bg-primary {
	background-color: $color_primary;
}

.blanco {
	color: $blanco;
}

.negro {
	color: $negro;
}


/* Fuentes */

.letraTitulo {
    font-family: 'Roboto', sans-serif;
}

.letraTexto {
    font-family: 'Noto Sans', sans-serif;
}


/* Tamaño */

.font-6 {
	font-size: 0.6rem;
}

.font-7 {
	font-size: 0.7rem;
}

.font-8 {
	font-size: 0.8rem;
}

.font-9 {
	font-size: 0.9rem;
}

.font-10 {
	font-size: 1rem;
}

.font-11 {
	font-size: 1.1rem;
}

.font-12 {
	font-size: 1.2rem;
}

.font-13 {
	font-size: 1.3rem;
}

.font-14 {
	font-size: 1.4rem;
}

.font-15 {
	font-size: 1.5rem;
}

.font-16 {
	font-size: 1.6rem;
}

.font-17 {
	font-size: 1.7rem;
}

.font-18 {
	font-size: 1.8rem;
}

