<%- include('../includes/header_err.ejs') %> 

<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>
            ¡Vaya! Lo sentimos, no se encontró la página.
            <div>
                EMISORA LA <span style="margin-left:0;margin-right: 15px;">FABULOSA</span> 
            </div>
        </h3>
        <img id="astronaut" src="src/utils/img/err/astronaut.svg" />
        <img id="planet" src="src/utils/img/err/planet.svg" />
        <a href="/"><button class="denied__link">Ir Inicio</button></a>
    </div>


<%- include('../includes/footer_err.ejs') %>